*{
    margin: 0;
    padding: 0;
}

.navbox {
    background-color: rgb(49, 48, 48);
    height: 100px;
    border: solid 3px black;
    width: 100%;
}

.bothpd {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.pages {
    display: flex;
    padding-right: 220px;
}

.search {
    display: flex;
}

#home {
    background-color: black;
    color: bisque;
    height: 45px;
    width: 130px;
    border-radius: 10px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition-duration: 0.5s;
}

#home:hover {
    background-color: blanchedalmond;
    color: rgb(19, 17, 17);
    cursor: pointer;
}

#service {
    background-color: black;
    color: bisque;
    height: 45px;
    width: 130px;
    border-radius: 10px;
    margin-left: 55px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition-duration: 0.5s;
}

#service:enabled {
    background-color: blanchedalmond;
    color: rgb(19, 17, 17);
    cursor: pointer;
}

#project {
    background-color: black;
    color: bisque;
    height: 45px;
    width: 130px;
    border-radius: 10px;
    margin-left: 55px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition-duration: 0.5s;
}

#project:hover {
    background-color: blanchedalmond;
    color: rgb(19, 17, 17);
    cursor: pointer;
}

#contact {
    background-color: black;
    color: bisque;
    height: 45px;
    width: 130px;
    border-radius: 10px;
    margin-left: 55px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition-duration: 0.5s;
}

#contact:hover {
    background-color: blanchedalmond;
    color: rgb(19, 17, 17);
    cursor: pointer;
}

#searchbox {
    height: 35px;
    width: 250px;
    border: solid 2px grey;
    border-radius: 5px;
}

#searchbutton {
    height: 36px;
    width: 90px;
    font-size: 19px;
    border: solid 2px rgb(122, 122, 122);
    color: black;
    border-radius: 10px;
    background-color: rgba(205, 218, 205, 0.781);
    margin-left: 5px;
}

#searchbutton:hover {
    cursor: pointer;
    background-color: rgb(39, 43, 39);
    color: antiquewhite;
}

.background {
    background-image: url("pexels-tima-miroshnichenko-6474497.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    padding-bottom: 30px;
}

.servic {
    /*    margin-top: 50px;*/
    text-align: center;
    font-size: 100px;
    text-decoration: underline;
    color: beige;
}

.special {
    text-align: center;
    font-size: 55px;
    color: brown;
    text-decoration: underline;
}

.serv {
    display: flex;
    justify-content: space-evenly;
}

.work {
    font-size: 48px;
}

.our {
    text-align: center;
    font-size: 100px;
    color: rgb(107, 87, 72);
    text-decoration: underline;
}

.firstline {
    display: flex;
    justify-content: space-evenly;
}

.secondline {
    display: flex;
    justify-content: space-evenly;
}

.thirdline {
    display: flex;
}

.ser {
    font-size: 65px;
    color: rgb(54, 46, 46);
}

.footer {
    background-color: black;
    height: 90px;
    width: 100%;
    color: whitesmoke;
    font-size: 25px;
    margin-top: 30px;
}

.copyright {
    text-align: center;
    padding-top: 2px;
}

.pictu {
    background-image: url("pexels-pixabay-327540.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    border-radius: 25px;
}

.free {
    text-align: center;
    color: antiquewhite;
    font-size: 60px;
    padding-top: 200px;
}